/* HEADER */
@media screen and (max-width: 728px) {
    .sitebanner {
        display: none;
    }
}

#header {
    min-height: 100%;
    width: 100%;
}

.sitebanner {
    position: relative;
    width: 100%;
    display: block;
}

#news, .generic-message-block {
    height: 36px;
    font-size: 20px;
    line-height: 34px;
    width: 100%;
    background-color: #535a63;
    text-align: center;
    margin-top: 0px;
}

#news img.dismiss {
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0px;
    margin-bottom: 4px;
}

.generic-message-block {
    border-bottom: 1px solid #323539;
}

.logoheader {
    position: relative;
    top: 5px;
    left: 5px;
    max-height: 40px;
    width: 40px;
}

.sitebanner {
    height: 175px;
    border-bottom: 1px solid black;
    background-image: url('../img/header.png');
    background-size: cover;
}

#header .message {
    display: block;
    clear: both;
    padding: 5px;

    font-size: 17px;
    line-height: 19px;

    background-color: #535a63;
    border-bottom: 2px solid #1f212b;
    text-align: center;

    &.success {
        background-color: #467641;
    }
    &.info {
        background-color: #3F5878;
    }
    &.warning {
        background-color: #737244;
    }
    &.error {
        background-color: #764141;
    }
}

#mainnav {
    width: 100%;
    max-width: 1600px;
    position: absolute;
    top: 165px;
    list-style: none;
    font-size: 22px;
    width: 100%;
    z-index: 1000;
    text-shadow: 0px 0px 5px #000;
    a {
        color: #fff;
    }
    li {
        padding: 0px 10px 0px 10px;
        float: left;
        position: relative;
    }
    ul {
        font-size: 17px;
        list-style: none;
        position: absolute;
        left: -9999px;
        border-right: 1px solid  #000;
        border-bottom: 1px solid  #000;
        border-left: 1px solid  #000;
        li {
            background-color: #191b1d;
            padding: 4px 12px 4px 12px;
            float: none;
        }
    }
}

#searchbox {
    z-index: 2000;
    position: relative;
    top: 7px;
    input {
        outline: none;
        &[type=search] {
            appearance: textfield;
            -webkit-appearance: textfield;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            font-family: inherit;
            font-size: 14px;
        }
        &::-webkit-search-decoration {
            display: none;
        }
    }
}

input::-webkit-search-cancel-button {
    display: none;
}

#searchbox input {
    &[type=search] {
        width: 50px !important;
        color: #CFCFC5;
        margin-top: 1px;
        background: #2B2E32 url('../img/icons/search.png') no-repeat 9px center !important;
        vertical-align: top;
        border: solid 1px #3F4247;
        padding: 4px 5px 4px 40px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;

        &:focus {
            width: 150px !important;
            background-color: #383b3f;
            border-color: #FFA51A;
            -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
            -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
            box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
        }
    }
    &:-moz-placeholder, &::-webkit-input-placeholder {
        color: #999;
    }
}

li.sfw-toggle {
    padding: 0 !important;
    &.active {
        background-color: green;
        padding: 0;
    }
}

#messagebar {
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 2000;
    border-bottom: 1px solid #25272a;
    .messagenotices {
        position: relative;
        float: right;
        right: 10px;
        padding-top: 8px;
    }
}

#optionsbar {
    width: 100%;
    display: table;
    height: 50px;
    border-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 16px;
    span {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
    }
}

div.ads div {
    &.in {
        display: inline-block;
    }
    &.ad {
        position: relative;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    }
    &.ftr {
        width: 300px;
        display: inline-block;
        margin: 0 auto;
        padding: 0;
    }
    &.adftr {
        float: left;
    }
    &.spacer {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 728px) {
    .falogo {
        display: none;
    }
}

@media screen and (min-width: 729px) {
    .falogo {
        vertical-align: top;
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.falogomenu {
    display: block;
    margin: 20px auto;
}

/* AD BANNERS */
@media only screen and (max-width: 728px) {
    .leaderboard1 {
        padding: 10px 0 10px 0;
        display: none;
    }
    .leaderboard2 {
        padding: 0 200px 10px 200px;
        display: none !important;
    }
    div.ads div {
        &.in {
            background-color: #212127;
            width: 100%;
            position: relative;
            display: inline-block;
            text-align: center;
            padding-top: 10px;
        }
        &.ad {
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
        }
    }
    .adplaceholder {
        float: right;
        margin-right: 42px;
    }
    .adhidemobile {
        display: none;
    }
}

@media only screen and (min-width: 729px) {
    .leaderboard1 {
        padding: 10px 0;
    }
    .leaderboard2 {
        padding: 0 0 10px 0;
    }
    div.ads {
        .first {
            display: none;
        }
        div {
            &.in {
                position: absolute;
                z-index: 100000;
                top: 90px;
                right: 0;
            }
            &.ad {
                float: left;
                margin-right: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1250px) {
    .leaderboard1 {
        padding: 10px 0;
    }
    .leaderboard2 {
        padding: 0 0 10px 0;
    }
    div.ads {
        .first {
            display: inline-block;
        }
        div {
            &.in {
                position: absolute;
                z-index: 100000;
                top: 90px;
                right: 0;
            }
            &.ad {
                float: left;
                margin-right: 20px;
            }
        }
    }
}

.leaderboard2 {
    text-align: center;
    min-height: 90px;
}