@media screen and (max-width: 728px) {
    #controlpanel {
        .mobiletoggle {
            width: 100% !important;
            padding-top: 10px !important;
            display: block !important;
            margin-left: auto;
            margin-right: auto;
        }
        .cptoggle, .cpavatar {
            padding: 0 !important;
            vertical-align: top;
        }
        .passwordverify {
            width: auto !important;
        }
    }
}

#controlpanelnav {
    padding-top: 15px;
    text-align: right;

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ul {
        padding-bottom: 10px;
    }
    a {
        text-decoration: none;
    }
}

.multirows {
    .row > div {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

#controlpanel {
    .p10tb {
        padding: 10px 0 5px 0;
    }



    li {
        list-style-type: square !important;
        margin-left: 20px;
    }
}
