/* USERPAGE */
@media screen and (max-width: 728px) {
    .userpage-tabs a {
        padding: 0 7px;
    }
}

@media screen and (min-width: 729px) {
    .userpage-tabs a {
        padding: 0 15px;
    }
}

#userpage {
    a {
        text-decoration: none;
    }
    display: table;
    width: 100%;
    .userline {
        display: table-row;
        padding: 0px;
    }
    .cell {
        display: table-cell;
    }
    .column {
        display: table-cell;
        padding: 0px;
        li {
            list-style-type: none;
        }
    }
    .one {
        vertical-align: top;
    }
}

#userpage {
    .one {
        min-width: 400px;
        width: 400px;
    }
    .two {
        width: 100%;
        padding-left: 20px;
    }
    .profilepic {
        max-width: 280px;
        max-height: 320px;
        text-align: center;
    }
    .contacticon {
        float: left;
        padding: 5px;
        &:after {
            clear: left;
        }
    }
    .contactinfo {
        position: relative;
        bottom: 10px;
    }
    .infowrap {
        padding-left: 2em;
        text-indent: -2em;
    }
    .contactwrap {
        position: relative;
        bottom: 10px;
        padding-left: 2em;
        text-indent: -2em;
    }
    .stats-flex-container {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        flex-wrap: wrap;
    }
    .stats-flex-item {
        width: 50%;
    }
    .stats {
        min-width: 115px;
        display: inline-block;
    }
    .stats2 {
        min-width: 90px;
        display: inline-block;
    }
}

#shoutboxentry {
    .shoutboxcontainer {
        float: left;
        width: 100%;
    }
    .shoutboxcontent {
        margin: 0px 0px 0px 115px;
    }
    .leftcol {
        float: left;
        width: 109px;
        margin-left: -100%;
        text-align: center;
    }
}

.userpage-section-content {
    padding-left: 10px;
}

.userpage-tabs {
    height: 40px;
    overflow: hidden;
    padding: 0;
    a {
        float: left;
        height: 100%;
        line-height: 40px;
        text-decoration: none;
        &.stats {
            float: right;
        }
    }
}

.userpage-data {
    width: 100%;
    border-collapse: separate;
    padding: 10px 20px 10px 20px;
    td {
        vertical-align: top;
    }
    .col1 {
        width: 100px;
    }
    .col2 {
        width: 100%;
        .row1, .row2 {}
    }
    .col3 {
        width: 300px;
        min-width: 300px;
    }
}

@media screen and (max-width: 728px) {
    .user-profile-flex {
        padding: 0 5px;
    }
    .user-profile-pic {
        display: none;
    }
}

@media screen and (min-width: 729px) {
    .user-profile-flex {
        padding: 0 5px;
    }
}

.user-profile-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-profile-pic {
    flex: 1 1 0;
    padding: 5px;
}

.user-profile-desc {
    flex: 6 1 0;
    width: 100%;
}

/* USER NAV LINKS */

.usernav_icon {
    position: relative;
}

.usernav_icon_resize {
    max-height: 50px;
    max-height: 50px;
}

/* USERPAGE > FORMATTING */

.data-footer {
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
    .data {
        height: 50px;
        display: inline-block;
        margin: 0 5px;
    }
}

/* USERPAGE > SUBMISSION/GALLERY */
/* NOTE - Quite a few of these options have been replaced, and will need to be audited to remove dupes */

.submissiontitlecontent {
    font-weight: 700;
}

@media only screen and (max-width: 728px) {
    .submissionflex {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-content: flex-start;
        align-content: flex-start;
    }
    .submissiontitle {
        float: left;
        z-index: 2000;
        width: 100%;
        order: 1;
        margin-top: 20px;
    }
    .submissiontitlecontent {
        padding-left: 60px;
    }
    .submissionstats {
        clear: both;
        text-align: center;
        width: 100%;
        order: 2;
    }
    .submissionfr {
        display: inline-block;
    }
    .submissionusericon {
        z-index: 1000;
        max-height: 50px;
        position: relative;
        margin-top: -2px;
    }
    .flextitlerow {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .flextitlecol {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .flextitleitem1 {
        flex: 1 100%;
        order: 1;
        padding: 5px 0 0 0;
        min-height: 50px;
    }
    .flextitleitem2 {
        flex: auto;
        order: 3;
        padding: 5px 0;
        margin-left: auto;
        margin-right: auto;
    }
    .flextitleitem3 {
        order: 2;
    }
    .flextitlestat {
        width: 100px;
    }
}

@media only screen and (min-width: 729px) {
    .submissiontitle {
        z-index: 2000;
        font-size: 16px;
    }
    h3, .submissiontitleuser, .flextitlestat, .submissiontitlecontent {
        font-size: 14px !important;
    }
    .submissionstats {
        float: right;
        min-width: 350px;
        max-width: 350px;
        float: right;
    }
    .submissionfr {
        float: right;
    }
    .submissionusericon {
        z-index: 1000;
        max-height: 65px;
        position: relative;
        margin-top: -25px;
    }
    .flextitlerow {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .flextitlecol {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        height: 60px;
    }
    .flextitle {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    .flextitleitem1 {
        order: 1;
        flex: 100%;
        padding: 10px 0;
    }
    .flextitleitem2 {
        order: 2;
        flex: 300px;
        padding: 10px 0;
        -webkit-flex-pack: right;
        -webkit-flex-align: right;
    }
}

@media only screen and (min-width: 1000px) {
    h3, .flextitlestat, .submissiontitlecontent {
        font-size: 16px !important;
    }
    .submissionusericon {
        z-index: 1000;
        max-height: 75px;
        position: relative;
        margin-top: -30px;
    }
    .flextitlecol {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        height: 65px;
    }
}

/* USERPAGE > GALLERY PREVIEW */
@media screen and (max-width: 728px) {
    .usercomment, .journalbody {
        padding: 0;
    }
    .usercommentavatar {
        padding-right: 10px;
    }
    .usercommentseperator {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 729px) {
    .usercomment {
        padding: 5px 5px 10px 5px;
    }
    .journalbody {
        padding: 5px 5px 10px 5px;
        padding: 5px;
    }
    .usercomment:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 20px 15px 0;
        border-color: transparent #474e58;
        display: block;
        width: 0;
        z-index: 1;
        left: -20px;
        top: 10px;
    }
    .usercommentavatar {
        padding-right: 25px;
        max-width: 100px !important;
    }
    .usercommentseperator {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    .admin-comment .usercomment {
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 20px 15px 0;
            border-color: transparent #474e58;
            display: block;
            width: 0;
            z-index: 1;
            left: -19x;
            top: 8px;
        }
        &:before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 17px 22px 17px 0;
            border-color: transparent #ac8043;
            display: block;
            width: 0;
            z-index: 0;
            left: -24px;
            top: 6px;
        }
    }
}

.usercomment, .journalcomment {
    position: relative;
}

.admin-comment .usercomment {
    position: relative;
    border: #ac8043 solid 2px;
}

.usercommentavatar {
    min-width: 100px;
    width: 100px;
    height: 100%;
}

.usercommentbubble {
    width: 100%;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.8);
}

.admin-comment .usercommentbubble {
    border: 2px solid #ac8043 !important;
}

.usercommentseperator {
    margin-top: 6px;
    margin-bottom: 5px;
    vertical-align: top;
}

.usercommenticon {
    width: 100px;
    height: 120px;
    padding-right: 5px;
    text-align: center;
}

.comment-quote {
    position: relative;
    vertical-align: top;
    padding: 310px;
}

.container-comment .reply-link {
    position: relative;
    bottom: 7px;
    right: -10px;
}

html {
    .container-comment .reply-link {
        bottom: 6px;
    }
    &:first-child .reply-link {
        bottom: 3px;
    }
}

@media screen and (max-width: 728px) {
    .comments-flex {
        padding: 0 5px;
    }
    .comments-flex-shouts {}
    .usericonmobile {
        max-width: 75px !important;
    }
    .comments-flex-item-icon {
        max-width: 85px;
        flex: 1 1 0;
    }
    .comments-userline-username, .comments-userline-datetime {
        width: 100%;
    }
}

@media screen and (min-width: 729px) {
    .comments-flex {
        padding: 0 10px;
    }
    .comments-flex-shouts {}
    .comments-flex-item-icon {
        max-width: 100px;
        flex: 1 1 0;
        margin-right: 25px;
    }
    .comments-userline-username {
        flex: 1 1 0;
    }
    .comments-userline-datetime {
        flex: 1 1 0;
        text-align: right;
    }
}

.comments-flex, .comments-flex-shouts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comments-flex-item-main {
    flex: 1 1 0;
    padding: 10px;
}

.comments-userline-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* COMMENT RESPONSE */

#responsebox {
    padding-top: 20px;
    max-width: 300px;
    max-width: 700px;
    clear: both;
    input[type="text"] {
        height: 80px;
        vertical-align: top;
        min-width: 100%;
        vertical-align: top;
        height: 180x;
        border: 0;
        &:focus {
            outline: none;
        }
    }
}