/* SPRITES -- CREDIT:  Royalty Free Icons from http://flaticons.net/ */
.msgsprite {

  display: inline-block;
  background: url(../img/sprites/msgsprites.png) top left no-repeat;

  .Delete-All-24 {
    background-position: 0 0;
    width: 24px;
    height: 24px
  }
  .Delete-All-32 {
    background-position: 0 -34px;
    width: 32px;
    height: 32px
  }
  .Delete-All-48 {
    background-position: 0 -76px;
    width: 48px;
    height: 48px
  }
  .Forward-24 {
    background-position: 0 -134px;
    width: 24px;
    height: 24px
  }
  .Forward-32 {
    background-position: 0 -168px;
    width: 32px;
    height: 32px
  }
  .Forward-48 {
    background-position: 0 -210px;
    width: 48px;
    height: 48px
  }
  .From-Mail-24 {
    background-position: 0 -268px;
    width: 24px;
    height: 24px
  }
  .From-Mail-32 {
    background-position: 0 -302px;
    width: 32px;
    height: 32px
  }
  .From-Mail-48 {
    background-position: 0 -344px;
    width: 48px;
    height: 48px
  }
  .Garbage-24 {
    background-position: 0 -402px;
    width: 24px;
    height: 24px
  }
  .Garbage-32 {
    background-position: 0 -436px;
    width: 32px;
    height: 32px
  }
  .Garbage-48 {
    background-position: 0 -478px;
    width: 48px;
    height: 48px
  }
  .Mail-Delete-24 {
    background-position: 0 -536px;
    width: 24px;
    height: 22px
  }
  .Mail-Delete-32 {
    background-position: 0 -570px;
    width: 32px;
    height: 32px
  }
  .Mail-Delete-48 {
    background-position: 0 -612px;
    width: 48px;
    height: 48px
  }
  .Mail-Filter-24 {
    background-position: 0 -670px;
    width: 24px;
    height: 24px
  }
  .Mail-Filter-32 {
    background-position: 0 -704px;
    width: 32px;
    height: 32px
  }
  .Mail-Filter-48 {
    background-position: 0 -746px;
    width: 48px;
    height: 48px
  }
  .Mail-New-24 {
    background-position: 0 -804px;
    width: 24px;
    height: 24px
  }
  .Mail-New-32 {
    background-position: 0 -838px;
    width: 32px;
    height: 32px
  }
  .Mail-New-48 {
    background-position: 0 -880px;
    width: 48px;
    height: 48px
  }
  .Mark-All-As-Read-24 {
    background-position: 0 -938px;
    width: 24px;
    height: 24px
  }
  .Mark-All-As-Read-32 {
    background-position: 0 -972px;
    width: 32px;
    height: 32px
  }
  .Mark-All-As-Read-48 {
    background-position: 0 -1014px;
    width: 48px;
    height: 48px
  }
  .Message-Edit-24 {
    background-position: 0 -1072px;
    width: 24px;
    height: 23px
  }
  .Message-Edit-32 {
    background-position: 0 -1106px;
    width: 32px;
    height: 32px
  }
  .Message-Edit-48 {
    background-position: 0 -1148px;
    width: 48px;
    height: 48px
  }
  .Message-Mail-24 {
    background-position: 0 -1206px;
    width: 24px;
    height: 24px
  }
  .Message-Mail-32 {
    background-position: 0 -1240px;
    width: 32px;
    height: 32px
  }
  .Message-Mail-48 {
    background-position: 0 -1282px;
    width: 48px;
    height: 48px
  }
  .Notification-24 {
    background-position: 0 -1340px;
    width: 24px;
    height: 24px
  }
  .Notification-32 {
    background-position: 0 -1374px;
    width: 32px;
    height: 32px
  }
  .Notification-48 {
    background-position: 0 -1416px;
    width: 48px;
    height: 48px
  }
  .Read-UnRead-24 {
    background-position: 0 -1474px;
    width: 24px;
    height: 24px
  }
  .Read-UnRead-32 {
    background-position: 0 -1508px;
    width: 32px;
    height: 32px
  }
  .Read-UnRead-48 {
    background-position: 0 -1550px;
    width: 48px;
    height: 48px
  }
  .ReplyAll-24 {
    background-position: 0 -1608px;
    width: 24px;
    height: 24px
  }
  .ReplyAll-32 {
    background-position: 0 -1642px;
    width: 32px;
    height: 32px
  }
  .ReplyAll-48 {
    background-position: 0 -1684px;
    width: 48px;
    height: 48px
  }
  .Reply-24 {
    background-position: 0 -1742px;
    width: 24px;
    height: 24px
  }
  .Reply-32 {
    background-position: 0 -1776px;
    width: 32px;
    height: 32px
  }
  .Reply-48 {
    background-position: 0 -1818px;
    width: 48px;
    height: 48px
  }
  .Share-24 {
    background-position: 0 -1934px;
    width: 24px;
    height: 24px
  }
  .Share-32 {
    background-position: 0 -1968px;
    width: 32px;
    height: 32px
  }
  .Share-48 {
    background-position: 0 -1876px;
    width: 48px;
    height: 48px
  }
}