/**
 * Note: The CSS version of this file is compiled automatically.
 * Only edit the SCSS source file when making changes.
 */

/* BOOTSTRAP */

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

@import 'bootstrap';

/* THEME & COLOR FORMATTING */

#mainnav blockquote, body, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 728px;
    margin-left: auto;
    margin-right: auto;
}

html, body, input, textarea, select {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: #cfcfcf;
}

html, body {
    background-color: #141A21;
    color: #cfcfcf;

    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

hr {
    width: 100%;
    border-style: dashed none none;
    height: 1px;
    background-color: transparent !important;
}

img {
    vertical-align: top;
    text-decoration: none;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

/* THEME & COLOR FORMATTING */

.bg1 {
    background-color: #1B1B21;
}

.bg2 {
    background-color: #414f55;
}

.bg3, .container-item-bot, .container-item-bot-last, .container-item-mid {
    background-color: #474e58;
}

.bg4, .userpage-tabs a.current, .userpage-tabs a.active, .container-item-top, .container-item-bot-settings, .container-item-bot-last-settings {
    background-color: #373b44;
}

.bg5 {
    background-color: #141A21;
}

.maintable {
    background-color: #373b3f;
}

textarea, .textarea, .textbox, select, .uploadfield, .avataruploadfield, select, #dropdownbox {
    color: #cfcfcf;
    background-color: #2e3236 !important;
}

.usercommentbubblearrow {
    border-color: transparent #474e58 transparent transparent;
}

/* FONT/STYLING CONTROLS */

h1 {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
h2 {
    font-size: 20px;
    color: #00ACFF !important;
    font-weight: 700 !important;
}
h3 {
    font-size: 16px;
    color: #00ACFF !important;
    font-weight: 700 !important;
}
h4 {
    font-size: 16px;
    color: #fff;
    font-weight: 700 !important;
}

h1, h2, h3, h4 {
    a {
        color: #e3e3e3;
        text-decoration: none;
    }
}

a {
    text-decoration: none;
    color: #cfcfcf;

    &:hover {
        color: #00ACFF !important;
        text-decoration: none;
    }
}

strong, b, .bold {
    font-weight: 700 !important;
}

p {
    padding-bottom: 10px;

    &:last-child {
        padding-bottom: 0;
    }
}

.clear {
    clear: both;
}

ul.nobullet {
    margin: 0;
    padding: 0;
    list-style: none !important;

    li {
        margin: 0;
        padding: 0;
    }
}

/* STANDARD PAGE FORMATTING */

@media screen and (max-width: 728px) {
    .hideonmobile {
        display: none !important;
    }
    #page {
        padding: 10px 0;
    }
}

@media screen and (min-width: 729px) {
    .hideondesktop {
        display: none !important;
    }
    #page {
        padding: 20px;
    }
}

.hidden, .invisible {
    display: none !important;
}

/* PADDING/POSITIONING */

.p5 { padding: 5px; }
.p5t { padding-top: 5px; }
.p5b { padding-bottom: 5px; }
.p5l { padding-left: 5px; }
.p5r { padding-right: 5px; }
.p10 { padding: 10px; }
.p10t { padding-top: 10px; }
.p10b { padding-bottom: 10px; }
.p10l { padding-left: 10px; }
.p10r { padding-right: 10px; }
.p10lr { padding-left: 10px; padding-right: 10px; }
.p20 { padding: 20px; }
.p20t { padding-top: 20px; }
.p20b { padding-bottom: 20px; }
.p20l { padding-left: 20px; }
.p20r { padding-right: 20px; }
.p20lr { padding-left: 20px; padding-right: 20px; }

hr {
    padding: 0 !important;
    margin: 0 !important;
}

.alignright {
    text-align: right !important;
}
.aligncenter {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    text-align: left;
}

.valign {
    vertical-align: middle;
}
.valigntop {
    vertical-align: top;
}
.valignbot {
    vertical-align: bottom;
}

.floatright {
    position: relative;
    float: right;
}
.floatleft {
    position: relative;
    float: left;
}
.floatnone {
    float: none;
}

.inline {
    display: inline-block;
}

.bordertop {
    border-top: 1px solid #1c1c1c;
}
.borderbot {
    border-bottom: 1px solid #1c1c1c;
}
.borderright {
    border-right: 1px solid #1c1c1c;
}

/* FOOTER */

#footer {
    width: 100%;
    border: 0;
    padding: 20px 10px 50px 10px;

    border-top: 1px;
    border-style: solid;
    border-color: #000;
    position: relative;
    bottom: 0;
    clear: both;
    text-align: center;
}

/* FORM & FIELD FORMATTING */

.textarea, .textbox, select, .uploadfield, .avataruploadfield {
    outline: none;
    box-sizing: border-box;
    padding: 6px;
    border: 0 !important;
}

.textarea {
    min-height: 100px;
    width: 100%;
    vertical-align: text-top;
    resize: none;
}
.textarearesize {
    resize: vertical !important;
}

.textbox300 {
    width: 300px;
}

.textbox100 {
    width: 100% !important;
}

select {
    min-height: 30px;
    min-width: 75px;
    outline: none !important;
    font-size: 14px !important;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.3em 2.0em 0.3em 0.3em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #7f7f7f 50%), linear-gradient(135deg, #7f7f7f 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,5px 5px,1px 1.5em;
    background-repeat: no-repeat;
}

#dropdownbox {
    font-size: 8pt;
    vertical-align: middle;
    border: 1px solid #cccacb;
    margin: 1px;
    min-width: 50px;
    max-width: 200px;
    option {
        font-size: 8pt;
        min-width: 50px;
        max-width: 200px;
    }
}

.uploadfield {
    color: #cfcfcf;
    font-size: 9pt;
    max-width: 250px;
    vertical-align: middle;
    margin: 1px;
}

.listbox {
    font-size: 9pt;
    background-color: #ffffff;
    border: 1px solid #cccacb;
}

/* JOURNALS */
@media screen and (max-width: 728px) {
    .journalfloat {
        float: none;
        padding-left: 20px;
    }
}

@media screen and (min-width: 729px) {
    .journalfloat {
        float: none;
        padding-left: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .journalfloat {
        float: right;
        display: inline;
        padding-top: 15px;
    }
}

#journal a {
    text-decoration: none;
}

.ttguideline {
    margin-left: 120px;
}

.tags {
    padding: 0 6px 0 0;
}

.tags-row {
    vertical-align: middle;
    padding: 10px 20px;
}

.tags {
    &:empty {
        display: none;
    }
    a {
        font-weight: 100;
        line-height: 30px;
        color: black;
        background-color: #00ACFF;
        padding: 2px 12px;
        &:hover {
            background-color: #fff;
        }
    }
}

.linker {
    text-align: left !important;
    float: left !important;
    padding: 0 !important;
    margin: 0 !important;
}

.rating-box {
    &.general {
        color: white;
    }
    &.mature {
        color: aquamarine;
    }
    &.adult {
        color: red;
    }
}



textarea:focus {
    outline: none;
}

.truncate {
    height: 6em;
    /* adjust based on line-height * rows desired */
    overflow: hidden;
}

/* NOTIFICATION SYSTEM - NOTES */

.pm-content {
    margin-left: 590px;
}

.notes-list-dropdown {
    height: 50px;
}

.notes-list-format {
    border-bottom: 1px dotted;
    border-color: #7d7d7d;
    &:nth-child(53) {
        padding: 4px 10px 4px 10px;
        border-bottom: 0px;
    }
    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.sentby {
    padding-left: 16px;
}

.pmlistsubject {
    width: 320px;
    white-space: nowrap;
    overflow: hidden  !important;
    text-overflow: ellipsis !important;
}

.pmview {
    padding: 20px;
}

.pmviewcell {
    width: 100%;
}

.pmviewicon {
    text-align: center;
    vertical-align: text-top;
    padding-right: 20px;
    min-width: 100px;
}

.pmviewbubble {
    padding: 16px;
}

.usershouticon {
    display: table;
    padding: 0 5px 20px 0;
    width: 120px;
    text-align: center;
}

.usershoutbubble {
    padding: 0px;
    margin-bottom: 0px;
    min-width: 100%;
}

.noteresponse {
    width: 105px;
}

.noteresponsespacer {
    margin-left: 109px;
}

#pm-menu {
    a {
        padding-right: 0px;
        vertical-align: middle;
    }
    ul {
        width: 70px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
    }
    li {
        width: 70px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
            > ul {
                display: block;
            }
        }
        li {
            margin: 0px;
            padding: 0;
            vertical-align: bottom;
            &:hover {
                background: rgba(255, 255, 255, 0.1);
                -webkit-transition: background 200ms ease-in-out;
                -moz-transition: background 200ms ease-in-out;
                -ms-transition: background 200ms ease-in-out;
                -o-transition: background 200ms ease-in-out;
                transition: background 200ms ease-in-out;
            }
        }
    }
    ul {
        display: none;
        position: absolute;
        top: 100%;
        z-index: 1;
    }
    li {
        position: relative;
        display: block;
        list-style-type: none;
    }
    > li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    a, span {
        display: block;
        text-decoration: none;
    }
}

.dropdownVertical {
    display: inline-block;
    > li {
        display: block;
    }
    ul {
        top: 0;
        left: 100%;
    }
}

.pmsmenuJavaScript li {
    &:hover > ul {
        display: none;
    }
    &.dropdownOpen > ul {
        display: block;
    }
}

#note-actions {
    .move_trash, .move_purge, .priority_high, .priority_medium, .priority_low, .priority_none, .move_archive {
        cursor: pointer;
    }
    .selected {
        font-weight: bold;
    }
}

#notes-list {
    .selected-view, .checked {
        background: rgba(255, 255, 255, 0.15);
    }
}

.doctext:before {
    font-weight: 700;
}

.itemtwo {
    vertical-align: top;
}

.lead {
    border-top: 2px solid #373b3f;
    border-bottom: 2px solid #373b3f;
    color: #fff;
}

.cat {
    color: #fff;
    A {
        &:LINK, &:VISITED {
            text-decoration: none;
            color: #fff;
        }
        &:HOVER {
            color: #dcdcdc;
            text-decoration: none;
        }
    }
}

.alt2 {
    color: #fff;
    A {
        &:LINK, &:VISITED {
            color: #CFCFCF;
        }
        &:HOVER {
            color: #dcdcdc;
            text-decoration: underline;
        }
    }
}

.wide {
    width: 450px;
}

.hovertable {
    background-color: #6A7283;
}

.hovertable_head {
    background-color: #6A7283;
    color: #fff;
    border: 2px solid #373b3f;
}

.hovertable_body {
    background-color: #373b3f;
    color: #CFCFCF;
}

.thumbnail {
    vertical-align: middle;
    border: 1px solid #6A7283;
    padding: 2px;
}

.innertable, .logo {
    background-color: #373b3f;
}

.hand {
    cursor: pointer;
}

.invisible {
    border: 0px solid;
    background: transparent;
}

.hlp {
    cursor: pointer;
    border-bottom: 1px dashed;
    font-weight: bold;
}

.tab {
    margin-left: 5px;
    margin-bottom: 3px;
    u {
        background-color: #373b3f;
        border-top: 1px solid #6A7283;
        border-left: 1px solid #6A7283;
        border-right: 1px solid #6A7283;
        color: #CFCFCF;
        font-weight: bold;
        text-decoration: none;
        padding: 8px 4px 4px 4px;
    }
    a {
        background-color: #6A7283;
        border-top: 1px solid #6A7283;
        border-left: 1px solid #6A7283;
        border-right: 1px solid #6A7283;
        padding: 4px;
        color: #fff;
        &:link, &:visited, &:active {
            color: #fff;
        }
        &:hover {
            color: #373b3f;
            text-decoration: none;
        }
    }
}

.menu {
    text-align: left;
    margin: 0;
    padding: 0px;
    ul {
        text-align: left;
        margin: 0;
        padding: 0px;
    }
    li {
        text-align: left;
        margin: 0;
        padding: 0;
        float: left;
        display: block;
        cursor: pointer;
        ul {
            text-align: left;
            margin: 0;
            padding: 0;
            display: none;
            position: absolute;
            li {
                float: none;
                text-align: left;
                border: 1px dotted #6A7283;
                background-color: #373b3f;
                cursor: pointer;
                padding: 3px;
                width: 200px;
                &:hover {
                    float: none;
                    text-align: left;
                    border: 1px dotted #6A7283;
                    background-color: #fff;
                    color: #000;
                    padding: 3px;
                    cursor: pointer;
                }
                A {
                    &:LINK, &:VISITED {
                        text-decoration: none;
                        color: #CFCFCF;
                    }
                    &:HOVER {
                        color: #dcdcdc;
                        text-decoration: none;
                    }
                }
            }
        }
        &:hover ul {
            display: block;
        }
    }
}

.padding_left {
    padding-left: 10px;
}

.previewThumb {
    border: 1px solid black;
}

.popup_date {
    cursor: help !important;
    border-bottom: 0px dotted #6A7283 !important;
}

/* YAK'S STYLES */

div.tab a {
    font-weight: bold;
}

a.iconusername {
    &:hover {
        text-decoration: none;
    }
    img {
        max-width: 50px;
        max-height: 50px;
        height: expression(this.height >= this.width && this.height > 50 ? '50px' : true);
        width: expression(this.height < this.width && this.width > 50 ? '50px' : true);
    }
}

#ToolTip {
    position: absolute;
    width: 100px;
    top: 0px;
    left: 0px;
    z-index: 4;
    visibility: hidden;
}

#admin_notice_do_not_adblock {
    margin: 0px auto;
    width: 740px;
    H4 {
        margin: 3px 0px;
        font-size: 1.3em;
        color: #FF0F13;
    }
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.container-comment {
    &.new th.lead {
        background-color: green !important;
    }
    TD, TH {
        vertical-align: top;
        padding: 4px;
    }
    .icon {
        width: 108px;
        height: 108px;
        text-align: center;
        vertical-align: top;
        padding: 4px 0px;
    }
    TH {
        background-color: #6A7283;
    }
    TD.cat {
        text-align: right;
        border: 0px none;
    }
    TH.lead {
        text-align: right;
        border: 0px none;
        height: 16px;
        line-height: 16px;
        padding: 0;
        H4 {
            margin: 0 10px 0 0;
            padding: 0;
        }
    }
    TD.cat A {
        margin: 0 10px 0 0;
        padding: 0;
    }
    TH.lead H4 {
        font-weight: normal;
        font-size: 9pt;
    }
    TD.cat {
        A {
            background-color: #6A7283;
            padding: 1px 7px;
        }
        height: 0px;
        line-height: 0px;
        padding: 0;
        border: 0;
        background-color: #373b3f;
    }
}

.ucp-site-settings {
    table {
        th, td {
            text-align: left;
            padding: 5px;
        }
        th {
            width: 150px;
        }
        td h3 {
            font-size: 12px;
        }
    }
    #switch-disable-avatars-status {
        margin: 10px 5px;
    }
    .status-enabled {
        color: green;
    }
    .status-disabled {
        color: red;
    }
    #switch-disable-avatars {
        width: 200px;
    }
    table {
        td, th {
            border-bottom: 1px solid #6A7283;
        }
        .noborder {
            border-bottom: 0px none;
        }
    }
}

/* SUSPENDED NOTICE */

#access-suspended table td {
    text-align: left;
}

#userpage-budlist {
    td {
        padding: 2px 25px;
    }
    .paragraph {
        padding-top: 15px;
    }
}

.clear {
    clear: both;
}

div{
    &#gallery, &#scraps, &#favorites, &#browse, &#search, &#stats-submission {
        text-align: center;
        padding: 0px 5px;
    }
    &#gallery form, &#scraps form, &#favorites form, &#browse form, &#search form, &#stats-submission form {
        margin: 0px;
    }
    &#gallery ul.messages-stream, &#scraps ul.messages-stream, &#favorites ul.messages-stream, &#browse ul.messages-stream, &#search ul.messages-stream, &#stats-submission ul.messages-stream {
        display: block;
        list-style-type: none;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }
    &#gallery ul.messages-stream li, &#scraps ul.messages-stream li, &#favorites ul.messages-stream li, &#browse ul.messages-stream li, &#search ul.messages-stream li {
        display: block;
        float: left;
        text-align: center;
        padding: 0px;
        width: 180px;
        height: 180px;
        margin: 8px 5px 8px 5px;
    }
    &#gallery table.preview, &#scraps table.preview, &#favorites table.preview, &#browse table.preview, &#search table.preview, &#stats-submission table.preview {
        border: 0px;
        width: 1%;
    }
    &#gallery div.info, &#scraps div.info, &#favorites div.info, &#browse div.info, &#search div.info, &#stats-submission div.info {
        margin-top: 3px;
    }
    &#gallery div.info span, &#scraps div.info span, &#favorites div.info span, &#browse div.info span, &#search div.info span, &#stats-submission div.info span {
        font-size: 9pt;
        font-weight: bold;
    }
    &#gallery div#no-images, &#scraps div#no-images, &#favorites div#no-images, &#browse div#no-images, &#search div#no-images, &#stats-submission div#no-images {
        margin: 40px;
        font-size: 14px;
        text-align: center;
    }
    &#favorites div.info small, &#browse div.info small, &#search div.info small {
        margin-top: 2px;
        font-size: 9px;
        display: block;
        color: #CaCaCa;
        font-style: italic;
    }
    &#favorites div.info small a, &#browse div.info small a, &#search div.info small a, &#favorites div.info small, &#browse div.info small, &#search div.info small {
        font-weight: normal;
    }
}

/* SEARCH PAGE */

#searchpage {
    height: 100%;
    position: relative;
    .column {
        float: left;
        width: 25%;
    }
    .columnend {
        float: left;
        width: 100%;
    }
}

/* GLOBAL CONTROLS */

div#messagecenter-other div {
    &.global-controls input.remove {
        margin-left: 20px;
        width: 200px;
    }
    &.no-messages {
        margin: 60px auto;
        text-align: center;
        font-size: 16px;
    }
}

/* COMMON */

#description_popup {
    position: absolute;
    width: 400px;
    overflow-x: hidden;
    text-align: left;
    background-color: #242424;
    -moz-box-shadow: 2px 2px 2px #222;
    -webkit-box-shadow: 2px 2px 2px #222;
    box-shadow: 2px 2px 2px #222;
    h5 {
        margin: 2px;
        padding: 3px;
        font-size: 9pt;
        font-weight: bold;
    }
    div.wrapper {
        padding: 4px 4px 4px 6px;
    }
    h5 small {
        font-weight: normal;
        font-style: italic;
        padding: 0 6px;
    }
    img.avatar {
        float: right;
        margin: 0 0 6px 12px;
    }
    span {
        display: block;
        border-top: 1px solid #242424;
        padding: 5px;
        overflow: hidden;
    }
}

/* EDIT/SUBMIT SUBMISSION/TAGS BOX */

#submit-finalize .keywords, #usercp-submission-changeinfo .keywords {
    width: 100%;
    text-align: right;
}

div#keywords {
    margin: 4px 2px 0 21px;
    a {
        font-weight: normal;
        &:link, &:hover, &:visited {
            font-weight: normal;
        }
    }
}

.keyword-active {}

#search-form .keyword-active {
    line-height: 18px;
}

#browse input.active {
    background-color: #ccfccc;
}

div#stats-submission {
    table.submissions {
        .preview {
            width: 150px;
        }
        td {
            &.preview, &.info, &.desc {
                border-bottom: 1px solid #6A7283;
                border-collapse: collapse;
                padding: 20px 0;
            }
            &.info {
                width: 40%;
            }
            &.desc {
                border-left: 1px solid #6A7283;
                padding-left: 5px;
            }
        }
    }
    .info {
        dl, dt, dd {
            margin: 0;
            padding: 0;
        }
        dt {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
            span {
                font-size: 10px;
            }
        }
    }
    dd span {
        display: block;
        float: left;
        width: 80px;
    }
}

.personal-messages {
    .button {
        cursor: pointer;
    }
    .folders img {
        vertical-align: text-bottom;
        margin-right: 5px;
    }
}

#sessions-form .container, #activity-periods-list .container, .personal-messages .container {
    background-color: #373b3f;
}

#sessions-form td.ip, #activity-periods-list td.browser, .personal-messages td.subject {
    vertical-align: middle;
    height: 26px;
    padding: 0;
    margin: 0;
    font-size: 50px;
}

#sessions-form td.ip input {
    margin: 0 20px 0 5px;
    padding: 0;
    float: left;
    height: 25px;
}

.personal-messages td.subject {
    input {
        margin: 0 20px 0 5px;
        padding: 0;
        float: left;
        height: 25px;
    }
    img {
        vertical-align: text-top;
        margin-right: 5px;
        margin-top: 2px;
        &.unread {
            margin-top: 0px;
        }
    }
}

#activity-periods-list td.browser {
    span, a {
        line-height: 24px;
    }
}

.personal-messages {
    td.subject a {
        line-height: 24px;
        &.note-unread {
            font-weight: bold;
            color: #DED78C;
        }
        &.unread {
            font-weight: bold;
            color: #DED78C;
            font-size: 12px;
        }
        &.note-read, &.read {
            font-weight: normal;
        }
    }
    a.high_prio {
        color: #EFBAC6;
    }
}

.viewmessage a.high_prio {
    color: #EFBAC6;
}

.personal-messages .priority_high, .viewmessage .priority_high {
    background-color: #EFBAC6;
}

.personal-messages a.medium_prio, .viewmessage a.medium_prio {
    color: #9CD7F7;
}

.personal-messages .priority_medium, .viewmessage .priority_medium {
    background-color: #9CD7F7;
}

.personal-messages a.low_prio, .viewmessage a.low_prio {
    color: #B5DF8C;
}

.personal-messages .priority_low, .viewmessage .priority_low {
    background-color: #B5DF8C;
}

#sessions-form span.browser-name, #activity-periods-list span.browser-name {
    cursor: help;
}

#sessions-form td.ip a, #activity-periods-list td.browser a {
    float: right;
    margin-right: 15px;
}

#sessions-form input.logout-selected {
    margin-left: 25px;
}

#usercp-menu td a {
    line-height: 16px;
}

/* MANAGE SESSIONS */

#sessions-form table.sessions-list tr {
    &.hover td, &.checked td {
        background-color: #474E58;
    }
}

.hidden_element {
    display: none;
}

#add_comment_form .maintable {
    margin: 0 auto;
}

.action-button {
    background-color: #ADADFF !important;
}

.action-link {
    color: #ADADFF !important;
}

.inline-button {
    border: 1px solid #CCCACB;
}

.blue {
    background-color: #ADADFF;
    color: #41526B !important;
    cursor: pointer;
}

.red {
    background-color: #FFAFAF;
    color: #41526B !important;
    cursor: pointer;
    font-weight: bold;
}

/* COMMISSION PAGE */



form.postlink {
    display: inline !important;
    margin: 0;
    padding: 0;
    position: relative;
    top: -1px;
    input {
        background: none !important;
        border: none;
        padding: 0 !important;
        cursor: pointer;
        color: #CFCFCF;
        font-size: 9pt;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}

.errortable {
    border: 1px solid #ad9191;
    background-color: #e8d4d4;
}

.errortd {
    background: #e8d4d4;
    color: #b95656;
    padding: 3px;
    a {
        color: #b95656;
    }
}

.smallhead {
    color: silver;
    font-weight: 700;
}

.addpad {
    padding: 3px;
}

.rpad {
    padding-right: 3px;
}

.lpad {
    padding-left: 3px;
}

.bpad {
    padding-bottom: 3px;
}

.tpad {
    padding-top: 3px;
}

/* COMMON */

div.window {
    border: 1px solid #6a7283;
    padding: 2px;
}

.clearfloat:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.ie-clearfloat {
    display: block;
    clear: both;
}

a.dotted {
    border-bottom: 1px dotted #6a7283 !important;
    font-weight: normal;
    text-decoration: none !important;
    &:hover {
        border-bottom: 1px dotted #6a7283 !important;
        font-weight: normal;
        text-decoration: none !important;
    }
}

/* GALLERY */

@media only screen and (max-width: 728px) {
    #page-galleryscraps .pagination {
        width: 100%;
        height: 20px;
        padding: 20px 0;
        text-align: center;
    }
}

@media only screen and (min-width: 729px) {
    #page-galleryscraps .pagination {
        width: 75%;
        height: 20px;
        padding: 20px 0;
        text-align: center;
    }
}

#page-galleryscraps {
    .page-options {
        height: 50px;
        line-height: 50px;
    }
    .gallery-content {
        display: table;
        width: 100%;
    }
    .submission-list, .folder-list {
        display: table-cell;
        vertical-align: top;
    }
    .submission-list {
        width: 100%;
        hr {
            width: 99%;
            border: 0;
            padding-top: 5px;
            border-bottom: 3px dotted #464A50;
        }
    }
    .folder-list {
        border-right: 3px solid #464A50;
    }
    .folder-description h4 {
        font-size: 14pt;
        margin: 0 4px 10px 0;
    }
    .folder-list {
        padding: 4px;
        min-width: 200px;
        .user-folders h4 {
            font-size: 14pt;
            margin: 10px 4px 10px 0;
        }
        .default-folders {
            padding-bottom: 10px;
        }
        .user-folders h5 {
            font-size: 12pt;
            font-weight: bold;
            margin: 10px 0;
        }
        ul {
            padding: 0 4px;
            margin: 0;
            &.default-group {
                margin-top: 18px;
            }
        }
        li {
            list-style-type: none;
            margin: 8px 0 0 16px;
            &.active {
                margin-left: 1px;
            }
        }
        ul.default-group li {
            margin-left: 0;
        }
        li.active a {
            font-weight: bold;
        }
    }
    .folder-description {
        padding: 16px 6px 0px 16px;
    }
}

/* SUBMISSION INFO EDIT PAGE  */

#usercp-submission-changeinfo .assign_folders {
    margin-top: 8px;
}

#submit-finalize {
    .assign_folders {
        margin-top: 8px;
    }
    .create_folder {
        margin-top: 8px;
        h2 {
            margin-bottom: 6px;
        }
    }
}

#usercp-submission-changeinfo .assign_folders .folder_name, #submit-finalize .assign_folders .folder_name {}

#usercp-submission-changeinfo .assign_folders fieldset, #submit-finalize .assign_folders fieldset {
    display: inline-block;
    float: left;
    border: 0px;
    padding-right: 20px;
}

#usercp-submission-changeinfo .assign_folders legend, #submit-finalize .assign_folders legend {
    font-weight: bold;
    padding: 4px 6px;
}

#usercp-submission-changeinfo .assign_folders label, #submit-finalize .assign_folders label {
    line-height: 18px;
}

#usercp-submission-changeinfo .assign_folders input, #submit-finalize .assign_folders input {
    position: relative;
    top: 2px;
}

#usercp-submission-changeinfo .folder_container .group_name, #submit-finalize .folder_container .group_name {
    padding: 4px 5px;
    margin-top: 8px;
}

/* CONTROL PANEL > MANAGE SUBMISSIONS  */

.page-user-settings form {
    display: table;
    width: 100%;
}

.preview-enlthumb {
    padding: 5px;
    background: #333;
    border: 1px solid #222;
    position: absolute;
    text-decoration: none;
    color: #fff;
    z-index: 999999999;
    max-width: 300px;
}

.preview-enlthumb img {
    width: 100%;
}

/**
 * START Silver Eagle Section
 */

@import 'header';
@import 'menu';
@import 'footer';

@import 'forms';
@import 'tables';
@import 'images';
@import 'bbcode';
@import 'grid';

@import 'pages-commissions';
@import 'pages-cpanel';
@import 'pages-pms';
@import 'pages-userpage';

/* Bootstrap component customization */

div.pagination {
    margin: 0;
}

div.panel-heading .pagination,
div.panel-footer .pagination {
    margin: 0;
    padding: 0;
    margin-top: -7px;
}
div.panel-footer .pagination {
    margin-top: -8px;
}

div.panel-heading .btn {
    margin-top: -4px;
}