/**
 * Note: The CSS version of this file is compiled automatically.
 * Only edit the SCSS source file when making changes.
 */

/* BOOTSTRAP */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700");
@import 'bootstrap';

/* THEME & COLOR FORMATTING */

#mainnav blockquote, body, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th {
    margin: 0;
    padding: 0;
}

html, body {
    min-width: 728px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #cfcfcf;
}

@import 'forms';
@import 'tables';
@import 'menu';
@import 'images';

html, body {
    background-color: #141A21;
    color: #cfcfcf;

    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

#site {
    overflow: auto;
    padding: 0px;
}

hr {
    width: 100%;
    border-style: dashed none none;
    height: 1px;
    background-color: transparent !important;
}

img {
    vertical-align: top;
    text-decoration: none;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

/* THEME & COLOR FORMATTING */

.bg1 {
    background-color: #1B1B21;
}

.bg2 {
    background-color: #414f55;
}

.bg3, .container-item-bot, .container-item-bot-last, .container-item-mid {
    background-color: #474e58;
}

.bg4, .userpage-tabs a.current, .userpage-tabs a.active, .container-item-top, .container-item-bot-settings, .container-item-bot-last-settings {
    background-color: #373b44;
}

.bg5 {
    background-color: #141A21;
}

.maintable {
    background-color: #373b3f;
}

textarea, .textarea, .textbox, select, .uploadfield, .avataruploadfield, select, #dropdownbox {
    color: #cfcfcf;
    background-color: #2e3236 !important;
}

.usercommentbubblearrow {
    border-color: transparent #474e58 transparent transparent;
}

/* FONT/STYLING CONTROLS */

h1 {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
h2 {
    font-size: 20px;
    color: #00ACFF !important;
    font-weight: 700 !important;
}
h3 {
    font-size: 16px;
    color: #00ACFF !important;
    font-weight: 700 !important;
}
h4 {
    font-size: 16px;
    color: #fff;
    font-weight: 700 !important;
}

h1, h2, h3, h4 {
    a {
        color: #e3e3e3;
        text-decoration: none;
    }
}

a {
    text-decoration: none;
    color: #cfcfcf;

    &:hover {
        color: #00ACFF !important;
        text-decoration: none;
    }
}

strong, b, .bold {
    font-weight: 700 !important;
}

p {
    padding-bottom: 10px;

    &:last-child {
        padding-bottom: 0;
    }
}

.clear {
    clear: both;
}

ul.nobullet {
    margin: 0;
    padding: 0;
    list-style: none !important;

    li {
        margin: 0;
        padding: 0;
    }
}

/* STANDARD PAGE FORMATTING */

@media screen and (max-width: 728px) {
    .hideonmobile {
        display: none !important;
    }
    #page {
        padding: 10px 0;
    }
}

@media screen and (min-width: 729px) {
    .hideondesktop {
        display: none !important;
    }
    #page {
        padding: 20px;
    }
}

.hidden, .invisible {
    display: none !important;
}

/* PADDING/POSITIONING */

.p5 { padding: 5px; }
.p5t { padding-top: 5px; }
.p5b { padding-bottom: 5px; }
.p5l { padding-left: 5px; }
.p5r { padding-right: 5px; }
.p10 { padding: 10px; }
.p10t { padding-top: 10px; }
.p10b { padding-bottom: 10px; }
.p10l { padding-left: 10px; }
.p10r { padding-right: 10px; }
.p10lr { padding-left: 10px; padding-right: 10px; }
.p20 { padding: 20px; }
.p20t { padding-top: 20px; }
.p20b { padding-bottom: 20px; }
.p20l { padding-left: 20px; }
.p20r { padding-right: 20px; }
.p20lr { padding-left: 20px; padding-right: 20px; }

hr {
    padding: 0 !important;
    margin: 0 !important;
}

.alignright {
    text-align: right !important;
}
.aligncenter {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    text-align: left;
}

.valign {
    vertical-align: middle;
}
.valigntop {
    vertical-align: top;
}
.valignbot {
    vertical-align: bottom;
}

.floatright {
    position: relative;
    float: right;
}
.floatleft {
    position: relative;
    float: left;
}
.floatnone {
    float: none;
}

.inline {
    display: inline-block;
}

.bordertop {
    border-top: 1px solid #1c1c1c;
}
.borderbot {
    border-bottom: 1px solid #1c1c1c;
}
.borderright {
    border-right: 1px solid #1c1c1c;
}

/* HEADER */
@media screen and (max-width: 728px) {
    .sitebanner {
        display: none;
    }
}

#header {
    min-height: 100%;
    width: 100%;
}

.sitebanner {
    position: relative;
    width: 100%;
    display: block;
}

#news, .generic-message-block {
    height: 36px;
    font-size: 20px;
    line-height: 34px;
    width: 100%;
    background-color: #535a63;
    text-align: center;
    margin-top: 0px;
}

#news img.dismiss {
    vertical-align: middle;
    cursor: pointer;
    margin-left: 0px;
    margin-bottom: 4px;
}

.generic-message-block {
    border-bottom: 1px solid #323539;
}

.logoheader {
    position: relative;
    top: 5px;
    left: 5px;
    max-height: 40px;
    width: 40px;
}

.sitebanner {
    height: 175px;
    border-bottom: 1px solid black;
    background-image: url('../img/header.png');
    background-size: cover;
}

#header .message {
    display: block;
    clear: both;
    padding: 5px;

    font-size: 17px;
    line-height: 19px;

    background-color: #535a63;
    border-bottom: 2px solid #1f212b;
    text-align: center;

    &.success {
        background-color: #467641;
    }
    &.info {
        background-color: #3F5878;
    }
    &.warning {
        background-color: #737244;
    }
    &.error {
        background-color: #764141;
    }
}

/* FOOTER */

#footer {
    width: 100%;
    border: 0;
    padding: 20px 10px 50px 10px;

    border-top: 1px;
    border-style: solid;
    border-color: #000;
    position: relative;
    bottom: 0;
    clear: both;
    text-align: center;
}

@media screen and (max-width: 728px) {
    .falogo {
        display: none;
    }
}

@media screen and (min-width: 729px) {
    .falogo {
        vertical-align: top;
        margin-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.falogomenu {
    display: block;
    margin: 20px auto;
}

/* AD BANNERS */
@media only screen and (max-width: 728px) {
    .leaderboard1 {
        padding: 10px 0 10px 0;
        display: none;
    }
    .leaderboard2 {
        padding: 0 200px 10px 200px;
        display: none !important;
    }
    div.ads div {
        &.in {
            background-color: #212127;
            width: 100%;
            position: relative;
            display: inline-block;
            text-align: center;
            padding-top: 10px;
        }
        &.ad {
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
        }
    }
    .adplaceholder {
        float: right;
        margin-right: 42px;
    }
    .adhidemobile {
        display: none;
    }
}

@media only screen and (min-width: 729px) {
    .leaderboard1 {
        padding: 10px 0;
    }
    .leaderboard2 {
        padding: 0 0 10px 0;
    }
    div.ads {
        .first {
            display: none;
        }
        div {
            &.in {
                position: absolute;
                z-index: 100000;
                top: 90px;
                right: 0;
            }
            &.ad {
                float: left;
                margin-right: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1250px) {
    .leaderboard1 {
        padding: 10px 0;
    }
    .leaderboard2 {
        padding: 0 0 10px 0;
    }
    div.ads {
        .first {
            display: inline-block;
        }
        div {
            &.in {
                position: absolute;
                z-index: 100000;
                top: 90px;
                right: 0;
            }
            &.ad {
                float: left;
                margin-right: 20px;
            }
        }
    }
}

.leaderboard2 {
    text-align: center;
    min-height: 90px;
}

div.ads div {
    &.in {
        display: inline-block;
    }
    &.ad {
        position: relative;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    }
    &.ftr {
        width: 300px;
        display: inline-block;
        margin: 0 auto;
        padding: 0;
    }
    &.adftr {
        float: left;
    }
    &.spacer {
        margin-bottom: 20px;
    }
}

/* NAVIGATION */

#mainnav {
    width: 100%;
    max-width: 1600px;
    position: absolute;
    top: 165px;
    list-style: none;
    font-size: 22px;
    width: 100%;
    z-index: 1000;
    text-shadow: 0px 0px 5px #000;
    a {
        color: #fff;
    }
    li {
        padding: 0px 10px 0px 10px;
        float: left;
        position: relative;
    }
    ul {
        font-size: 17px;
        list-style: none;
        position: absolute;
        left: -9999px;
        border-right: 1px solid  #000;
        border-bottom: 1px solid  #000;
        border-left: 1px solid  #000;
        li {
            background-color: #191b1d;
            padding: 4px 12px 4px 12px;
            float: none;
        }
    }
}

#searchbox {
    z-index: 2000;
    position: relative;
    top: 7px;
    input {
        outline: none;
        &[type=search] {
            appearance: textfield;
            -webkit-appearance: textfield;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            font-family: inherit;
            font-size: 14px;
        }
        &::-webkit-search-decoration {
            display: none;
        }
    }
}

input::-webkit-search-cancel-button {
    display: none;
}

#searchbox input {
    &[type=search] {
        width: 50px !important;
        color: #CFCFC5;
        margin-top: 1px;
        background: #2B2E32 url('../img/icons/search.png') no-repeat 9px center !important;
        vertical-align: top;
        border: solid 1px #3F4247;
        padding: 4px 5px 4px 40px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;

        &:focus {
            width: 150px !important;
            background-color: #383b3f;
            border-color: #FFA51A;
            -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
            -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
            box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
        }
    }
    &:-moz-placeholder, &::-webkit-input-placeholder {
        color: #999;
    }
}

li.sfw-toggle {
    padding: 0 !important;
    &.active {
        background-color: green;
        padding: 0;
    }
}

#messagebar {
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 2000;
    border-bottom: 1px solid #25272a;
    .messagenotices {
        position: relative;
        float: right;
        right: 10px;
        padding-top: 8px;
    }
}

#optionsbar {
    width: 100%;
    display: table;
    height: 50px;
    border-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 16px;
    span {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
    }
}


/* FORM & FIELD FORMATTING */

textarea, .textarea, .textbox, select, .uploadfield, .avataruploadfield {
    outline: none;
    font-family: "Open Sans";
    font-size: 14px;
    box-sizing: border-box;
    padding: 6px;
    border: 0px !important;
}

.textarea {
    min-height: 100px;
    width: 100%;
    vertical-align: text-top;
    resize: none;
}

.textarearesize {
    resize: vertical !important;
}

.textbox300 {
    width: 300px;
}

.textbox100 {
    width: 100% !important;
}

select {
    min-height: 30px;
    min-width: 75px;
    outline: none !important;
    font-size: 14px !important;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.3em 2.0em 0.3em 0.3em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #7f7f7f 50%), linear-gradient(135deg, #7f7f7f 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,5px 5px,1px 1.5em;
    background-repeat: no-repeat;
}

#dropdownbox {
    font-size: 8pt;
    vertical-align: middle;
    border: 1px solid #cccacb;
    margin: 1px;
    min-width: 50px;
    max-width: 200px;
    option {
        font-size: 8pt;
        min-width: 50px;
        max-width: 200px;
    }
}

.uploadfield {
    color: #cfcfcf;
    font-size: 9pt;
    max-width: 250px;
    vertical-align: middle;
    margin: 1px;
}

.avataruploadfield {
    font-size: 9pt;
    min-width: 300px;
    max-width: 300px;
    vertical-align: middle;
    margin: 1px;
}

.listbox {
    font-size: 9pt;
    background-color: #ffffff;
    border: 1px solid #cccacb;
}

/* BROWSE & SEARCH*/
@media screen and (max-width: 728px) {
    .search-flex-item-1 {
        width: 50%;
    }
    .browsenav {
        width: 100%;
    }
}

@media screen and (min-width: 729px) {
    .search-flex-item-1, .browsenav {
        width: 100%;
    }
}

.container-item-top,
.container-item-bot-last-settings {
    nav ul {
        margin: 0;
        margin-top: -8px;
    }
}

.browseoption {
    min-width: 80px;
    display: inline-block;
}

.browsewrapper {
    width: 100%;
}

.browsecontainer {
    border-left: 250px solid transparent;
    position: relative;
    &:after {
        display: table;
        clear: both;
        content: '';
    }
}

.browsecol2 {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-right: -100%;
}

.browsecontent {
    padding: 0 20px;
    min-height: 100%;
    height: 100%;
}

.browsecol1 {
    float: left;
    width: 250px;
    position: relative;
    left: -250px;
}

.searchpagebox {
    box-shadow: 0px 0px 10px white !important;
    outline: 0 !important;
    background: #53575d;
    width: 239px;
    height: 40px;
    float: left;
    border: 0;
    background: #53575d;
    color: #fff;
    font-size: inherit;
    &:focus {
        outline: 0;
        background: #53575d;
        color: #fff;
        font-size: inherit;
    }
}

#searchoptions {
    label:hover, input {}
}

.page-search .basic-options select.listbox {
    width: 100px;
}

.page-browse {
    select.listbox {
        width: 200px;
        &[name="perpage"] {
            width: 56px;
        }
    }
    input.textbox[name="page"] {
        width: 56px;
    }
    button.prevnextbutton {
        cursor: pointer;
    }
}

.search-flex-container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

.search-flex-item-holder {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: left;
    align-items: left;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

.search-flex-item-title {
    width: 100%;
}

.search-flex-item-2 {
    width: 50%;
}

.search-flex-item-3 {
    width: 33%;
}

.optionspacer {
    width: 140px;
    display: inline-block;
}

/* JOURNALS */
@media screen and (max-width: 728px) {
    .journalfloat {
        float: none;
        padding-left: 20px;
    }
}

@media screen and (min-width: 729px) {
    .journalfloat {
        float: none;
        padding-left: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .journalfloat {
        float: right;
        display: inline;
        padding-top: 15px;
    }
}

#journal a {
    text-decoration: none;
}

/* CONTROL PANEL (NEW) */

@media screen and (max-width: 728px) {
    #controlpanel {
        .mobiletoggle {
            width: 100% !important;
            padding-top: 10px !important;
            display: block !important;
            margin-left: auto;
            margin-right: auto;
        }
        .cptoggle, .cpavatar {
            padding: 0 !important;
            vertical-align: top;
        }
        .passwordverify {
            width: auto !important;
        }
    }
}

#controlpanelnav {
    a {
        padding-left: 20px;
        text-decoration: none;
    }
    h3 {}
    ul, li {
        list-style: none;
    }
}

#controlpanel {
    .cplineitem {
        display: table;
        width: 100%;
        padding: 10px;
    }
    .cprow {
        display: table-row;
    }
    .cpcell {
        display: table-cell;
        padding-right: 5px;
    }
    .cp33 {
        width: 33%;
    }
    .cp50 {
        width: 50%;
    }
    .cptoggle, .cpavatar {
        width: 300px;
        padding: 0 10px;
        vertical-align: top;
    }
    .p10tb {
        padding: 10px 0 5px 0;
    }
    .passwordverify {
        width: 530px;
    }
    li {
        list-style-type: square !important;
        margin-left: 20px;
    }
}

.ttguideline {
    margin-left: 120px;
}

.tags {
    padding: 0 6px 0 0;
}

.tags-row {
    vertical-align: middle;
    padding: 10px 20px;
}

.tags {
    &:empty {
        display: none;
    }
    a {
        font-weight: 100;
        line-height: 30px;
        color: black;
        background-color: #00ACFF;
        padding: 2px 12px;
        &:hover {
            background-color: #fff;
        }
    }
}

.linker {
    text-align: left !important;
    float: left !important;
    padding: 0 !important;
    margin: 0 !important;
}

.rating-box {
    &.general {
        color: white;
    }
    &.mature {
        color: aquamarine;
    }
    &.adult {
        color: red;
    }
}

/* USERPAGE > GALLERY PREVIEW */
@media screen and (max-width: 728px) {
    .usercomment, .journalbody {
        padding: 0;
    }
    .usercommentavatar {
        padding-right: 10px;
    }
    .usercommentseperator {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 729px) {
    .usercomment {
        padding: 5px 5px 10px 5px;
    }
    .journalbody {
        padding: 5px 5px 10px 5px;
        padding: 5px;
    }
    .usercomment:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 20px 15px 0;
        border-color: transparent #474e58;
        display: block;
        width: 0;
        z-index: 1;
        left: -20px;
        top: 10px;
    }
    .usercommentavatar {
        padding-right: 25px;
        max-width: 100px !important;
    }
    .usercommentseperator {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    .admin-comment .usercomment {
        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 20px 15px 0;
            border-color: transparent #474e58;
            display: block;
            width: 0;
            z-index: 1;
            left: -19x;
            top: 8px;
        }
        &:before {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 17px 22px 17px 0;
            border-color: transparent #ac8043;
            display: block;
            width: 0;
            z-index: 0;
            left: -24px;
            top: 6px;
        }
    }
}

.usercomment, .journalcomment {
    position: relative;
}

.admin-comment .usercomment {
    position: relative;
    border: #ac8043 solid 2px;
}

.usercommentavatar {
    min-width: 100px;
    width: 100px;
    height: 100%;
}

.usercommentbubble {
    width: 100%;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.8);
}

.admin-comment .usercommentbubble {
    border: 2px solid #ac8043 !important;
}

.usercommentseperator {
    margin-top: 6px;
    margin-bottom: 5px;
    vertical-align: top;
}

.usercommenticon {
    width: 100px;
    height: 120px;
    padding-right: 5px;
    text-align: center;
}

.comment-quote {
    position: relative;
    vertical-align: top;
    padding: 310px;
}

.container-comment .reply-link {
    position: relative;
    bottom: 7px;
    right: -10px;
}

html {
    .container-comment .reply-link {
        bottom: 6px;
    }
    &:first-child .reply-link {
        bottom: 3px;
    }
}

@media screen and (max-width: 728px) {
    .comments-flex {
        padding: 0 5px;
    }
    .comments-flex-shouts {}
    .usericonmobile {
        max-width: 75px !important;
    }
    .comments-flex-item-icon {
        max-width: 85px;
        flex: 1 1 0;
    }
    .comments-userline-username, .comments-userline-datetime {
        width: 100%;
    }
}

@media screen and (min-width: 729px) {
    .comments-flex {
        padding: 0 10px;
    }
    .comments-flex-shouts {}
    .comments-flex-item-icon {
        max-width: 100px;
        flex: 1 1 0;
        margin-right: 25px;
    }
    .comments-userline-username {
        flex: 1 1 0;
    }
    .comments-userline-datetime {
        flex: 1 1 0;
        text-align: right;
    }
}

.comments-flex, .comments-flex-shouts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comments-flex-item-main {
    flex: 1 1 0;
    padding: 10px;
}

.comments-userline-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* COMMENT RESPONSE */

#responsebox {
    padding-top: 20px;
    max-width: 300px;
    max-width: 700px;
    clear: both;
    input[type="text"] {
        height: 80px;
        vertical-align: top;
        min-width: 100%;
        vertical-align: top;
        height: 180x;
        border: 0;
        &:focus {
            outline: none;
        }
    }
}

textarea:focus {
    outline: none;
}

.truncate {
    height: 6em;
    /* adjust based on line-height * rows desired */
    overflow: hidden;
}

/* NOTIFICATION SYSTEM - NOTES */

.pm-content {
    margin-left: 590px;
}

.notes-list-dropdown {
    height: 50px;
}

.notes-list-format {
    border-bottom: 1px dotted;
    border-color: #7d7d7d;
    &:nth-child(53) {
        padding: 4px 10px 4px 10px;
        border-bottom: 0px;
    }
    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.sentby {
    padding-left: 16px;
}

.pmlistsubject {
    width: 320px;
    white-space: nowrap;
    overflow: hidden  !important;
    text-overflow: ellipsis !important;
}

.pmview {
    padding: 20px;
}

.pmviewcell {
    width: 100%;
}

.pmviewicon {
    text-align: center;
    vertical-align: text-top;
    padding-right: 20px;
    min-width: 100px;
}

.pmviewbubble {
    padding: 16px;
}

.usershouticon {
    display: table;
    padding: 0 5px 20px 0;
    width: 120px;
    text-align: center;
}

.usershoutbubble {
    padding: 0px;
    margin-bottom: 0px;
    min-width: 100%;
}

.noteresponse {
    width: 105px;
}

.noteresponsespacer {
    margin-left: 109px;
}

#pm-menu {
    a {
        padding-right: 0px;
        vertical-align: middle;
    }
    ul {
        width: 70px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
    }
    li {
        width: 70px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
            > ul {
                display: block;
            }
        }
        li {
            margin: 0px;
            padding: 0;
            vertical-align: bottom;
            &:hover {
                background: rgba(255, 255, 255, 0.1);
                -webkit-transition: background 200ms ease-in-out;
                -moz-transition: background 200ms ease-in-out;
                -ms-transition: background 200ms ease-in-out;
                -o-transition: background 200ms ease-in-out;
                transition: background 200ms ease-in-out;
            }
        }
    }
    ul {
        display: none;
        position: absolute;
        top: 100%;
        z-index: 1;
    }
    li {
        position: relative;
        display: block;
        list-style-type: none;
    }
    > li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    a, span {
        display: block;
        text-decoration: none;
    }
}

.dropdownVertical {
    display: inline-block;
    > li {
        display: block;
    }
    ul {
        top: 0;
        left: 100%;
    }
}

.pmsmenuJavaScript li {
    &:hover > ul {
        display: none;
    }
    &.dropdownOpen > ul {
        display: block;
    }
}

#note-actions {
    .move_trash, .move_purge, .priority_high, .priority_medium, .priority_low, .priority_none, .move_archive {
        cursor: pointer;
    }
    .selected {
        font-weight: bold;
    }
}

#notes-list {
    .selected-view, .checked {
        background: rgba(255, 255, 255, 0.15);
    }
}

.doctext:before {
    font-weight: 700;
}

.itemtwo {
    vertical-align: top;
}

.lead {
    border-top: 2px solid #373b3f;
    border-bottom: 2px solid #373b3f;
    color: #fff;
}

.cat {
    color: #fff;
    A {
        &:LINK, &:VISITED {
            text-decoration: none;
            color: #fff;
        }
        &:HOVER {
            color: #dcdcdc;
            text-decoration: none;
        }
    }
}

.alt2 {
    color: #fff;
    A {
        &:LINK, &:VISITED {
            color: #CFCFCF;
        }
        &:HOVER {
            color: #dcdcdc;
            text-decoration: underline;
        }
    }
}

.wide {
    width: 450px;
}

.hovertable {
    background-color: #6A7283;
}

.hovertable_head {
    background-color: #6A7283;
    color: #fff;
    border: 2px solid #373b3f;
}

.hovertable_body {
    background-color: #373b3f;
    color: #CFCFCF;
}

.thumbnail {
    vertical-align: middle;
    border: 1px solid #6A7283;
    padding: 2px;
}

.innertable, .logo {
    background-color: #373b3f;
}

.hand {
    cursor: pointer;
}

.invisible {
    border: 0px solid;
    background: transparent;
}

.hlp {
    cursor: pointer;
    border-bottom: 1px dashed;
    font-weight: bold;
}

.tab {
    margin-left: 5px;
    margin-bottom: 3px;
    u {
        background-color: #373b3f;
        border-top: 1px solid #6A7283;
        border-left: 1px solid #6A7283;
        border-right: 1px solid #6A7283;
        color: #CFCFCF;
        font-weight: bold;
        text-decoration: none;
        padding: 8px 4px 4px 4px;
    }
    a {
        background-color: #6A7283;
        border-top: 1px solid #6A7283;
        border-left: 1px solid #6A7283;
        border-right: 1px solid #6A7283;
        padding: 4px;
        color: #fff;
        &:link, &:visited, &:active {
            color: #fff;
        }
        &:hover {
            color: #373b3f;
            text-decoration: none;
        }
    }
}

.menu {
    text-align: left;
    margin: 0;
    padding: 0px;
    ul {
        text-align: left;
        margin: 0;
        padding: 0px;
    }
    li {
        text-align: left;
        margin: 0;
        padding: 0;
        float: left;
        display: block;
        cursor: pointer;
        ul {
            text-align: left;
            margin: 0;
            padding: 0;
            display: none;
            position: absolute;
            li {
                float: none;
                text-align: left;
                border: 1px dotted #6A7283;
                background-color: #373b3f;
                cursor: pointer;
                padding: 3px;
                width: 200px;
                &:hover {
                    float: none;
                    text-align: left;
                    border: 1px dotted #6A7283;
                    background-color: #fff;
                    color: #000;
                    padding: 3px;
                    cursor: pointer;
                }
                A {
                    &:LINK, &:VISITED {
                        text-decoration: none;
                        color: #CFCFCF;
                    }
                    &:HOVER {
                        color: #dcdcdc;
                        text-decoration: none;
                    }
                }
            }
        }
        &:hover ul {
            display: block;
        }
    }
}

.padding_left {
    padding-left: 10px;
}

.previewThumb {
    border: 1px solid black;
}

.popup_date {
    cursor: help !important;
    border-bottom: 0px dotted #6A7283 !important;
}

/* YAK'S STYLES */

div.tab a {
    font-weight: bold;
}

a.iconusername {
    &:hover {
        text-decoration: none;
    }
    img {
        max-width: 50px;
        max-height: 50px;
        height: expression(this.height >= this.width && this.height > 50 ? '50px' : true);
        width: expression(this.height < this.width && this.width > 50 ? '50px' : true);
    }
}

#ToolTip {
    position: absolute;
    width: 100px;
    top: 0px;
    left: 0px;
    z-index: 4;
    visibility: hidden;
}

#admin_notice_do_not_adblock {
    margin: 0px auto;
    width: 740px;
    H4 {
        margin: 3px 0px;
        font-size: 1.3em;
        color: #FF0F13;
    }
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.container-comment {
    &.new th.lead {
        background-color: green !important;
    }
    TD, TH {
        vertical-align: top;
        padding: 4px;
    }
    .icon {
        width: 108px;
        height: 108px;
        text-align: center;
        vertical-align: top;
        padding: 4px 0px;
    }
    TH {
        background-color: #6A7283;
    }
    TD.cat {
        text-align: right;
        border: 0px none;
    }
    TH.lead {
        text-align: right;
        border: 0px none;
        height: 16px;
        line-height: 16px;
        padding: 0;
        H4 {
            margin: 0 10px 0 0;
            padding: 0;
        }
    }
    TD.cat A {
        margin: 0 10px 0 0;
        padding: 0;
    }
    TH.lead H4 {
        font-weight: normal;
        font-size: 9pt;
    }
    TD.cat {
        A {
            background-color: #6A7283;
            padding: 1px 7px;
        }
        height: 0px;
        line-height: 0px;
        padding: 0;
        border: 0;
        background-color: #373b3f;
    }
}

.ucp-site-settings {
    table {
        th, td {
            text-align: left;
            padding: 5px;
        }
        th {
            width: 150px;
        }
        td h3 {
            font-size: 12px;
        }
    }
    #switch-disable-avatars-status {
        margin: 10px 5px;
    }
    .status-enabled {
        color: green;
    }
    .status-disabled {
        color: red;
    }
    #switch-disable-avatars {
        width: 200px;
    }
    table {
        td, th {
            border-bottom: 1px solid #6A7283;
        }
        .noborder {
            border-bottom: 0px none;
        }
    }
}

/* SUSPENDED NOTICE */

#access-suspended table td {
    text-align: left;
}

#userpage-budlist {
    td {
        padding: 2px 25px;
    }
    .paragraph {
        padding-top: 15px;
    }
}

.clear {
    clear: both;
}

div{
    &#gallery, &#scraps, &#favorites, &#browse, &#search, &#stats-submission {
        text-align: center;
        padding: 0px 5px;
    }
    &#gallery form, &#scraps form, &#favorites form, &#browse form, &#search form, &#stats-submission form {
        margin: 0px;
    }
    &#gallery ul.messages-stream, &#scraps ul.messages-stream, &#favorites ul.messages-stream, &#browse ul.messages-stream, &#search ul.messages-stream, &#stats-submission ul.messages-stream {
        display: block;
        list-style-type: none;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }
    &#gallery ul.messages-stream li, &#scraps ul.messages-stream li, &#favorites ul.messages-stream li, &#browse ul.messages-stream li, &#search ul.messages-stream li {
        display: block;
        float: left;
        text-align: center;
        padding: 0px;
        width: 180px;
        height: 180px;
        margin: 8px 5px 8px 5px;
    }
    &#gallery table.preview, &#scraps table.preview, &#favorites table.preview, &#browse table.preview, &#search table.preview, &#stats-submission table.preview {
        border: 0px;
        width: 1%;
    }
    &#gallery div.info, &#scraps div.info, &#favorites div.info, &#browse div.info, &#search div.info, &#stats-submission div.info {
        margin-top: 3px;
    }
    &#gallery div.info span, &#scraps div.info span, &#favorites div.info span, &#browse div.info span, &#search div.info span, &#stats-submission div.info span {
        font-size: 9pt;
        font-weight: bold;
    }
    &#gallery div#no-images, &#scraps div#no-images, &#favorites div#no-images, &#browse div#no-images, &#search div#no-images, &#stats-submission div#no-images {
        margin: 40px;
        font-size: 14px;
        text-align: center;
    }
    &#favorites div.info small, &#browse div.info small, &#search div.info small {
        margin-top: 2px;
        font-size: 9px;
        display: block;
        color: #CaCaCa;
        font-style: italic;
    }
    &#favorites div.info small a, &#browse div.info small a, &#search div.info small a, &#favorites div.info small, &#browse div.info small, &#search div.info small {
        font-weight: normal;
    }
}

/* SEARCH PAGE */

#searchpage {
    height: 100%;
    position: relative;
    .column {
        float: left;
        width: 25%;
    }
    .columnend {
        float: left;
        width: 100%;
    }
}

/* GLOBAL CONTROLS */

div#messagecenter-other div {
    &.global-controls input.remove {
        margin-left: 20px;
        width: 200px;
    }
    &.no-messages {
        margin: 60px auto;
        text-align: center;
        font-size: 16px;
    }
}

/* COMMON */

#description_popup {
    position: absolute;
    width: 400px;
    overflow-x: hidden;
    text-align: left;
    background-color: #242424;
    -moz-box-shadow: 2px 2px 2px #222;
    -webkit-box-shadow: 2px 2px 2px #222;
    box-shadow: 2px 2px 2px #222;
    h5 {
        margin: 2px;
        padding: 3px;
        font-size: 9pt;
        font-weight: bold;
    }
    div.wrapper {
        padding: 4px 4px 4px 6px;
    }
    h5 small {
        font-weight: normal;
        font-style: italic;
        padding: 0 6px;
    }
    img.avatar {
        float: right;
        margin: 0 0 6px 12px;
    }
    span {
        display: block;
        border-top: 1px solid #242424;
        padding: 5px;
        overflow: hidden;
    }
}

/* EDIT/SUBMIT SUBMISSION/TAGS BOX */

#submit-finalize .keywords, #usercp-submission-changeinfo .keywords {
    width: 100%;
    text-align: right;
}

div#keywords {
    margin: 4px 2px 0 21px;
    a {
        font-weight: normal;
        &:link, &:hover, &:visited {
            font-weight: normal;
        }
    }
}

.keyword-active {}

#search-form .keyword-active {
    line-height: 18px;
}

#browse input.active {
    background-color: #ccfccc;
}

div#stats-submission {
    table.submissions {
        .preview {
            width: 150px;
        }
        td {
            &.preview, &.info, &.desc {
                border-bottom: 1px solid #6A7283;
                border-collapse: collapse;
                padding: 20px 0;
            }
            &.info {
                width: 40%;
            }
            &.desc {
                border-left: 1px solid #6A7283;
                padding-left: 5px;
            }
        }
    }
    .info {
        dl, dt, dd {
            margin: 0;
            padding: 0;
        }
        dt {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
            span {
                font-size: 10px;
            }
        }
    }
    dd span {
        display: block;
        float: left;
        width: 80px;
    }
}

.personal-messages {
    .button {
        cursor: pointer;
    }
    .folders img {
        vertical-align: text-bottom;
        margin-right: 5px;
    }
}

#sessions-form .container, #activity-periods-list .container, .personal-messages .container {
    background-color: #373b3f;
}

#sessions-form td.ip, #activity-periods-list td.browser, .personal-messages td.subject {
    vertical-align: middle;
    height: 26px;
    padding: 0;
    margin: 0;
    font-size: 50px;
}

#sessions-form td.ip input {
    margin: 0 20px 0 5px;
    padding: 0;
    float: left;
    height: 25px;
}

.personal-messages td.subject {
    input {
        margin: 0 20px 0 5px;
        padding: 0;
        float: left;
        height: 25px;
    }
    img {
        vertical-align: text-top;
        margin-right: 5px;
        margin-top: 2px;
        &.unread {
            margin-top: 0px;
        }
    }
}

#activity-periods-list td.browser {
    span, a {
        line-height: 24px;
    }
}

.personal-messages {
    td.subject a {
        line-height: 24px;
        &.note-unread {
            font-weight: bold;
            color: #DED78C;
        }
        &.unread {
            font-weight: bold;
            color: #DED78C;
            font-size: 12px;
        }
        &.note-read, &.read {
            font-weight: normal;
        }
    }
    a.high_prio {
        color: #EFBAC6;
    }
}

.viewmessage a.high_prio {
    color: #EFBAC6;
}

.personal-messages .priority_high, .viewmessage .priority_high {
    background-color: #EFBAC6;
}

.personal-messages a.medium_prio, .viewmessage a.medium_prio {
    color: #9CD7F7;
}

.personal-messages .priority_medium, .viewmessage .priority_medium {
    background-color: #9CD7F7;
}

.personal-messages a.low_prio, .viewmessage a.low_prio {
    color: #B5DF8C;
}

.personal-messages .priority_low, .viewmessage .priority_low {
    background-color: #B5DF8C;
}

#sessions-form span.browser-name, #activity-periods-list span.browser-name {
    cursor: help;
}

#sessions-form td.ip a, #activity-periods-list td.browser a {
    float: right;
    margin-right: 15px;
}

#sessions-form input.logout-selected {
    margin-left: 25px;
}

#usercp-menu td a {
    line-height: 16px;
}

/* MANAGE SESSIONS */

#sessions-form table.sessions-list tr {
    &.hover td, &.checked td {
        background-color: #474E58;
    }
}

.hidden_element {
    display: none;
}

#add_comment_form .maintable {
    margin: 0 auto;
}

.action-button {
    background-color: #ADADFF !important;
}

.action-link {
    color: #ADADFF !important;
}

.inline-button {
    border: 1px solid #CCCACB;
}

.blue {
    background-color: #ADADFF;
    color: #41526B !important;
    cursor: pointer;
}

.red {
    background-color: #FFAFAF;
    color: #41526B !important;
    cursor: pointer;
    font-weight: bold;
}

/* COMMISSION PAGE */



form.postlink {
    display: inline !important;
    margin: 0;
    padding: 0;
    position: relative;
    top: -1px;
    input {
        background: none !important;
        border: none;
        padding: 0 !important;
        cursor: pointer;
        color: #CFCFCF;
        font-size: 9pt;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}

.errortable {
    border: 1px solid #ad9191;
    background-color: #e8d4d4;
}

.errortd {
    background: #e8d4d4;
    color: #b95656;
    padding: 3px;
    a {
        color: #b95656;
    }
}

.smallhead {
    color: silver;
    font-weight: 700;
}

.addpad {
    padding: 3px;
}

.rpad {
    padding-right: 3px;
}

.lpad {
    padding-left: 3px;
}

.bpad {
    padding-bottom: 3px;
}

.tpad {
    padding-top: 3px;
}

/* COMMON */

div.window {
    border: 1px solid #6a7283;
    padding: 2px;
}

.clearfloat:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.ie-clearfloat {
    display: block;
    clear: both;
}

a.dotted {
    border-bottom: 1px dotted #6a7283 !important;
    font-weight: normal;
    text-decoration: none !important;
    &:hover {
        border-bottom: 1px dotted #6a7283 !important;
        font-weight: normal;
        text-decoration: none !important;
    }
}

/* GALLERY */

@media only screen and (max-width: 728px) {
    #page-galleryscraps .pagination {
        width: 100%;
        height: 20px;
        padding: 20px 0;
        text-align: center;
    }
}

@media only screen and (min-width: 729px) {
    #page-galleryscraps .pagination {
        width: 75%;
        height: 20px;
        padding: 20px 0;
        text-align: center;
    }
}

#page-galleryscraps {
    .page-options {
        height: 50px;
        line-height: 50px;
    }
    .gallery-content {
        display: table;
        width: 100%;
    }
    .submission-list, .folder-list {
        display: table-cell;
        vertical-align: top;
    }
    .submission-list {
        width: 100%;
        hr {
            width: 99%;
            border: 0;
            padding-top: 5px;
            border-bottom: 3px dotted #464A50;
        }
    }
    .folder-list {
        border-right: 3px solid #464A50;
    }
    .folder-description h4 {
        font-size: 14pt;
        margin: 0 4px 10px 0;
    }
    .folder-list {
        padding: 4px;
        min-width: 200px;
        .user-folders h4 {
            font-size: 14pt;
            margin: 10px 4px 10px 0;
        }
        .default-folders {
            padding-bottom: 10px;
        }
        .user-folders h5 {
            font-size: 12pt;
            font-weight: bold;
            margin: 10px 0;
        }
        ul {
            padding: 0 4px;
            margin: 0;
            &.default-group {
                margin-top: 18px;
            }
        }
        li {
            list-style-type: none;
            margin: 8px 0 0 16px;
            &.active {
                margin-left: 1px;
            }
        }
        ul.default-group li {
            margin-left: 0;
        }
        li.active a {
            font-weight: bold;
        }
    }
    .folder-description {
        padding: 16px 6px 0px 16px;
    }
}

/* SUBMISSION VIEW PAGE  */

#submission_page {
    .minigallery-container, .folder-list-container {
        margin: 0px auto;
        width: 850px;
    }
    b.minigallery-title {
        s {
            font-size: 9pt;
        }
        strong {
            font-size: 8.5pt;
            font-style: italic;
        }
        a {
            font-size: 12pt;
            font-weight: bold;
            background-color: inherit;
            border: 0 none;
            border-radius: 0;
            box-shadow: none;
            min-height: initial;
            min-width: initial;
            position: static;
            display: inline;
        }
        i {
            line-height: 20px;
        }
    }
    .folder-list-container {
        text-align: left;
        padding: 8px 0;
        h4 {
            margin: 0 8px;
        }
        ul {
            margin: 2px 0 0 0;
            padding: 0;
        }
        li {
            list-style-type: none;
            float: left;
            margin-left: 20px;
            line-height: 16px;
            strong {
                font-weight: normal;
            }
        }
    }
    .links-container {
        margin: 4px auto;
        width: 300px;
        text-align: center;
        a {
            &.prev {
                float: left;
            }
            &.next {
                float: right;
            }
        }
    }
}

/* SUBMISSION INFO EDIT PAGE  */

#usercp-submission-changeinfo .assign_folders {
    margin-top: 8px;
}

#submit-finalize {
    .assign_folders {
        margin-top: 8px;
    }
    .create_folder {
        margin-top: 8px;
        h2 {
            margin-bottom: 6px;
        }
    }
}

#usercp-submission-changeinfo .assign_folders .folder_name, #submit-finalize .assign_folders .folder_name {}

#usercp-submission-changeinfo .assign_folders fieldset, #submit-finalize .assign_folders fieldset {
    display: inline-block;
    float: left;
    border: 0px;
    padding-right: 20px;
}

#usercp-submission-changeinfo .assign_folders legend, #submit-finalize .assign_folders legend {
    font-weight: bold;
    padding: 4px 6px;
}

#usercp-submission-changeinfo .assign_folders label, #submit-finalize .assign_folders label {
    line-height: 18px;
}

#usercp-submission-changeinfo .assign_folders input, #submit-finalize .assign_folders input {
    position: relative;
    top: 2px;
}

#usercp-submission-changeinfo .folder_container .group_name, #submit-finalize .folder_container .group_name {
    padding: 4px 5px;
    margin-top: 8px;
}

/* CONTROL PANEL > MANAGE SUBMISSIONS  */

.page-user-settings form {
    display: table;
    width: 100%;
}

.preview-enlthumb {
    padding: 5px;
    background: #333;
    border: 1px solid #222;
    position: absolute;
    text-decoration: none;
    color: #fff;
    z-index: 999999999;
    max-width: 300px;
}

.preview-enlthumb img {
    width: 100%;
}